# Ignore Python virtual environment folders
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore distribution/build folders
build/
dist/
*.egg-info/


.ipynb_checkpoints/

# Ignore editor/system files
.DS_Store
.idea/
*.swp
